{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>报修管理</h2>
</div>

<div class="cf">
    <a class="btn" href="{:url('add','pid='.$pid)}">新 增</a>
    <a class="btn" href="javascript:;">删 除</a>
</div>

<div class="data-table table-striped">
    <table>
        <thead>
        <tr>
            <th class="row-selected">
                <input class="checkbox check-all" type="checkbox">
            </th>
            <th>报修单号</th>
            <th>报修人</th>
            <th>电话</th>
            <th>地址</th>
            <th>问题</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {notempty name="list"}
        {volist name="list" id="property"}
        <tr>
            <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$property['id']}"> </td>
            <td>{$property.id}</td>
            <td>{$property.name}</td>
            <td>{$property.tel}</td>
            <td>{$property.address}</td>
            <td>{$property.problem}</td>
            <td>{$property.status}</td>
            <td>
                <a title="编辑" href="{:url('edit?id='.$property['id'])}">编辑</a>
                <a class="confirm ajax-get" title="删除" href="{:url('del?id='.$property['id'])}">删除</a>
            </td>
        </tr>
        {/volist}
        {else/}
        <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
        {/notempty}
        </tbody>
    </table>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function() {
        //点击排序
        $('.list_sort').click(function(){
            var url = $(this).attr('url');
            var ids = $('.ids:checked');
            var param = '';
            if(ids.length > 0){
                var str = new Array();
                ids.each(function(){
                    str.push($(this).val());
                });
                param = str.join(',');
            }

            if(url != undefined && url != ''){
                window.location.href = url + '/ids/' + param;
            }
        });
    });
</script>
{/block}